 <div ng-controller = "ImageController as images">
     
    <div class = 'searcher'>
      <md-input-container class = "md-block">
        <label> Search Flickr </label>
        <input type="text" 
               ng-model="images.search"
               ng-change="images.change()"
      </md-input-container>
    </div>

  <div class = 'container'>
    <div class= 'info-container'  ng-repeat= 'image in images.data'>

      <img ui-sref= 'details({ imageTitle: "{{image.title}}", picture: "{{image.media.m}}", published: "{{image.published}}", tags: "{{image.tags}}", author : "{{image.author}}", link: "{{image.link}}", id: "{{image.author_id}}" })' src="{{image.media.m}}">

      <h1 ui-sref='details' class="md-headline">{{image.title}}</h1>

      <h2 class="md-title" >Published: {{image.published.split('T')[0]}} <h2>

      <a class="md-body-2" href="{{image.description.split('&quot')[1]}}" >Author: {{image.author.split(' ')[1].split('(')[1].split(')')[0]}}<span><a class = "md-body-2" href="{{image.link}}"> View on Flickr </a></span>

    </div>
  </div>
</div>