body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: block;
  width: 750px;
  height: 400px;
  overflow-y: scroll;
  margin: 0 auto;
  background: #efeae2;
  color: grey;
}

.details {
  padding-left: 10px;
}

.info-container img {
  display: inline-block;
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border-right: 1px solid white;
  cursor: pointer;
}

.info-container h1 {
  display: block;
  max-height: 50px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow:ellipsis;
  margin-bottom: 10px;
  color: black;
  cursor: pointer;
}

.info-container {
  display: block;
  height: 150px;
  overflow: hidden;
  border-bottom: 1px solid white;
}

.info-container a {
  color: grey;
  text-decoration: none;
  position: relative;
  bottom: 10px;
  margin-right: 10px;
}

.details-subheader {
  display: inline;
}

.details-header {
  margin-bottom: 5px;
  margin-top: 10px;
  max-height: 80px;
  white-space: nowrap; 
  overflow: hidden;
  color: black; 
  text-overflow:ellipsis;
  display: inline-block;
  width: 500px;
}

.details-header:hover{
  overflow: visible;
  white-space: normal;
  max-height: 300px;
}

.subheader-container {
  margin-bottom: 10px;
}

.details-image {
  width: 200px;
  height: 200px;
  margin-top: 16px;
}

.description {
  display: inline-block;
  width: 500px;
  vertical-align: top
}

.searcher {
  display: block;
  background-color: white;
  width: 750px;
  margin: 0 auto
}

.title {
  text-align: center;
  margin-top: 0px;
  padding-top: 15px;
}

.md-button.md-fab {
  background-color: white;
  float: right;
  margin-right: 60px;

}

a.md-button.md-default-theme.md-fab, a.md-button.md-fab, .md-button.md-default-theme.md-fab, .md-button.md-fab {
  background-color: white;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    border-color: grey;
}

md-input-container:not(.md-input-invalid).md-input-focused label {
  color: grey;
}

md-input-container label {
  color: grey;
}
.md-button-image {
  width: 35px;
  margin-top: 10px;
}

.home-header {
  background: #efeae2;
  height: 105px;
}
.home-header img {
  width: 80px;
  position: relative;
  position: absolute;
  top: 10px;
  left: 30px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}