body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: block;
  width: 750px;
  height: 400px;
  overflow-y: scroll;
  margin: 0 auto;
  background: #efeae2;
  color: grey;
}

.details {
  padding-left: 10px;
}

.info-container img {
  display: inline-block;
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  border-right: 1px solid white;
}

.info-container h1 {
  display: block;
  max-height: 50px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow:ellipsis;
  margin-bottom: 10px;
  color: black;
}

.info-container {
  display: block;
  height: 150px;
  overflow: hidden;
  border-bottom: 1px solid white;
}

.info-container a {
  color: grey;
  text-decoration: none;
  position: relative;
  bottom: 10px;
  margin-right: 10px;
}

.details-subheader {
  display: inline;
}

.details-header {
  margin-bottom: 5px;
  margin-top: 10px;
  max-height: 50px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow:ellipsis;
}

.details-header:hover{
  overflow: visible;
  white-space: normal;
  max-height: 300px;
}

.subheader-container {
  margin-bottom: 10px;
}

.details-image {
  width: 200px;
  height: 200px;
  margin-top: 16px;
}

.description {
  display: inline-block;
  width: 500px;
  vertical-align: top
}

.searcher {
  display: block;
  background-color: white;
  width: 750px;
  margin: 0 auto
}

.title {
  text-align: center;
}